.carousel-service {
    &__image {
        height: 60vh;
        object-fit: cover;
    }

    &__title {
        transform: scale(1, 1.3);
    }

    &__description {

        font-size: 1.5rem;
    }

}