.card-title-custom {
    @extend .card-title;
    font-size: 1.5rem;
    font-weight: 900;
    transform: scale(1, 1.2);

}

.card-text-custom {
    @extend .card-text;
    font-size: 1.5em;
    font-weight: 400;
}