.footer {

    background: radial-gradient($footer-background-begin, $footer-background-end);
    font-size: 1.5rem;
    color: rgb(7, 0, 0);

}

.contact-data {

    &__email::before {
        content: "📧 ";
    }



    &__telephone::before {
        content: "📞 ";
    }
}