.html {
    font-size: 62.5%;
}

@media (min-width: 768px) {

    .sticky-bottom {
        @supports (position: sticky) {
            position: sticky !important;
            bottom: 0;
            z-index: $zindex-sticky;
        }
    }
}